body{
    margin:0 auto;
    border:1px solid;
    margin-left: 2px;
    margin-right: 2px;
}
#fila{
    padding:left;
    background-color:cadetblue;

}
#fila p{
    margin:0;
}
#fila2{
    background-color:chocolate ;
    padding:6px;
}
#fila2 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    width: 160px;
    background-color: yellow;
}
#fila3{
    background-color:cyan ;
    padding:6px;
    height: 23px;;
}
#fila3 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 160px;
    float:left;
    margin-right: 15px;
}
.margen{
    padding-right:100px;
}

#fila4{
    background-color:cyan ;
    padding:6px;
    height: 23px;;
    border:1px solid;
}
#fila4 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 100px;
    float:left;
    margin-right: 15px;
}
#fila5{
    background-color:cyan ;
    padding:6px;
    height: 23px;
}
#fila5 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 45px;
    float:left;
    margin-right: 15px;
}
.mas{
    padding-right: 20px;
}
.mucho{
    padding-right: 50px;
}
.mass{
    padding-right: 70px;
}
#fila6{
    background-color: rgb(186, 91, 233);
    height:35px;
}
#fila7{
    background-color:yellowgreen ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
}
#fila7 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 160px;
    float:right;
    margin-right: 15px;
}
#fila8{
    background-color:rgb(126, 126, 223) ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
}
#fila8 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 160px;
    float:right;
    margin-right: 15px;
}
#fila9{
    background-color:rgb(212, 114, 231) ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
}
#fila9 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 160px;
    float:right;
    margin-right: 15px;
}#fila10{
    background-color:rgb(126, 126, 223) ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
}
#fila10 p{
    margin:0;
    padding-left:3px;
    border:1px solid red;
    background-color: yellow;
    width: 160px;
    margin-right: 15px;
}
.izqq{
    float:left;
}
.der{
    float:right;
}
#fila14{
    background-color:rgb(149, 223, 126) ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
    display: flex;
  justify-content: center;

}
#fila14 p{
    margin:0;
    padding-left:3px;
    width: 160px;
    background-color: white;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}
#fila15{
    background-color:rgb(158, 232, 255) ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
    text-align: center;
    word-spacing: 50px;

}
#fila15 p{
    border: 1px solid;
    margin:0;
    padding-left:3px;
    width: 160px;
    background-color: rgb(136, 192, 238);
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    display: inline-block;
}
#fila16{
    background-color:rgb(158, 232, 255) ;
    padding:6px;
    height: 23px;
    margin-top: 2px;
    text-align: center;
    word-spacing: 50px;

}
#fila16 p{
    border: 1px solid;
    margin:0;
    padding-left:3px;
    width: 160px;
    background-color: rgb(136, 192, 238);
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
    display: inline-block;
}
#fila17{
    margin-top: 2px;
    background-color:rgb(104, 102, 173) ;
    padding:6px;
}
#fila17 p{
    margin:0;
    padding-left:3px;
    border:1px solid white;
    background-color: rgb(170, 115, 12);
    margin-top: 3px;
}
#fila18{
    margin-top: 2px;
    background-color:rgb(104, 102, 173) ;
    padding:6px;
    height: 50px;
}
#fila180{
    background-color: turquoise;
    border: 1px solid white;
    margin:0;
    height: 50px;
    width: 450px;
}
#fila180 p{
    margin:0;
    padding-left:3px;
    border:1px solid white;
    background-color: rgb(170, 115, 12);
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
#fila19{
    margin-top: 2px;
    background-color:rgb(104, 102, 173) ;
    padding:6px;
    height: 50px;
}
#fila190{
    background-color: turquoise;
    border: 1px solid white;
    margin:auto;
    height: 50px;
    width: 450px;
    float: right;
    
}
#fila190 p{
    margin:0;
    padding-left:3px;
    border:1px solid white;
    background-color: rgb(170, 115, 12);
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
#fila20{
    margin-top: 2px;
    background-color:rgb(0, 0, 0) ;
    padding:6px;
    height: 75px;
    margin:0 auto;
    border:white solid 1px;
}
#fila20 p{
    margin:0;
    padding-left:3px;
    border:1px solid white;
    background-color: rgb(218, 180, 111);
    margin-top: 3px;
    height: 70px;
}
.tamaños{
    width: 28.5%;
    float: left;
}
.tamaños2{
    width: 70%;
    float: right;
    
}